
@media only screen and (max-height: 660px) {
    body {
        background-position: center;
    }

    h1{
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}