@font-face {
    font-family: 'Zabars';
    src: url('fonts/Zabars.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaStencilOne';
    src: url('fonts/SairaStencilOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(./assets/img/5_background/body-background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

img {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

.game-div {
    position: relative;
    width: 720px;
    height: 480px;
    cursor: url('assets/icons/comic-cursor-48.png'), auto;
}

.overlay-divs {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

p, h1, h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    caret-color: transparent;
}

button {
    background-color: #F9C769;
    border-width: 12px;
    border: 12px solid #A0220A;
    border-radius: 22px;
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    cursor: url('assets/icons/comic-cursor-48.png'), auto;
    caret-color: transparent;
}

button:hover {
    transform: scale(1.15);
    filter: brightness(1.5);
}

h1 {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 120px;
    letter-spacing: 12px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 70px;
    letter-spacing: 6px;
    background: linear-gradient(to bottom, #FF9900, #ffde00, #FF9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #9A3A17;
}

h3 {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 600;
}

canvas {
    background-color: black;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
}

#start-div {
    background-image: url(./assets/img/9_intro_outro_screens/start/startscreen_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -75px;
    justify-content: space-evenly;
    align-items: start;
    z-index: 2;
}

#settings-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    left: 20px;
}

#settings-btn img{
    width: 50px;
}

#settings-div-overlay {
    position: absolute;
    background-image: url('assets/img/5_background/complete_background_mirrored.png');
    background-size: cover;
    background-position: -75px;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#return-to-start-btn {
    position: absolute;
    display: flex;
    align-items: start;
    background-color: transparent;
    border: none;
    filter: brightness(0.7);
    top: 20px;
    left: 20px;
    z-index: 5;
}

#return-to-start-btn img{
    width: 80px;
}

.controls-btn {
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.controls-btn img{
    width: 60px;
    transition: transform 125ms ease;
}

.mute-btn {
    border: none;
    background-color: transparent;
    padding-right: 20px;
}


.mute-btn img{
    height: auto;
    width: 50px;
    transition: transform 125ms ease;
}

#start-btn {
    width: 340px;
    height: fit-content;
    margin-top: 20px;
    transition: transform 125ms ease;
}

#pause-div {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #131313a4;
    z-index: 2;
}

#pause-div p {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
    background: linear-gradient(to bottom, #FF9900, #ffde00, #FF9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #9A3A17;
}

#pause-div-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#pause-div-header #mute-btn{
    margin-top: 10px;
}

.pause-btns {
    height: 60%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tutorial-div {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 15%;
    left: 3%;
    width: 90%;
    height: 75%;
    background-color: #F9C769;
    border-width: 12px;
    border: 12px solid #A0220A;
    border-radius: 22px;
    z-index: 2;
}

#tutorial-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
}

#tutorial-btns {
    width: 100%;
    margin-top: 6px;
    position: absolute;
    bottom: -7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#tutorial-headline {
    position: absolute;
    top: -20%;
}

.tutorial-pages {
    display: grid;
    grid-template-columns: 45% 55%;
    width: 95%;
    height: 95%;
}
 
#first-page-img img{
    width: 250px;
    margin-top: -170px;
}

#first-page-text {
    margin-bottom: 12px;
}

#tutorial-second-page #pepe-walking {
    width: 240px;
    margin-top: -150px;
}

.enemies {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}

.tutorial-pepe {
    width: 160px;
    margin-top: -120px;
    margin-left: -20px;
}

.chicken {
    width: 100px;
}

#second-page-text, #third-page-text, #fourth-page-text, #fifth-page-text, #seventh-page-text, #eighth-page-text, #ninth-page-text {
    justify-content: center;
    overflow-y: hidden;
}

.first-part-tutorial-page {
    display: flex;
    align-items: center;
}

#third-page-img {
    display: flex;
    align-items: end;
}

#space-gif-tutorial {
    width: 80px;
    height: 50px;
}

#status-bar-tutorial-img {
    width: 260px;
}

#fourth-page-img {
    display: flex;
    align-items: center;
}

#sixth-page-img {
    display: flex;
    align-items: center;
    margin-right: 60px;
    padding-top: 80px;
}

#sixth-page-img .enemies {
    display: grid;
    grid-template-columns: 3rem 3rem;
    grid-template-rows: 1fr 1fr;
}

#sixth-page-img .chicken {
    grid-column: 2;
    grid-row: 2;
}

#sixth-page-img #splash-bottle {
    grid-column: 2;
    grid-row: 2;
    padding-top: 2rem;
}

#sixth-page-text {
    width: 90%;
    padding-left: 40px;
    overflow-y: hidden;
    justify-content: center;
}

#seventh-page-img {
    display: flex;
    align-items: end;
}

#eighth-page-img {
    display: grid;
    grid-template-rows: 30% 30%;
}

#eighth-page-img .pepe {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: -10px;
}

#ninth-page-text {
    margin-bottom: 80px;
}

#pepe-top-img {
    width: 105%;
}

#pepe-top-img img {
    width: 100%;
}

.coins {
    display: flex;
    justify-content: end;
    align-items: start;
    margin-top: -30px;
}

.coin {
    width: 160px;
    height: 160px;
}

.bottles {
    width: 80px;
}

#arrow-up-tutorial {
    width: 40px;
    height: 40px;
}

#arrow-throw-tutorial {
    width: 40px;
    height: 40px;
}

#arrow-sides-tutorial {
    width: 80px;
    height: 40px;
}

.tutorial-icons {
    padding-left: 12px;
    padding-right: 12px;
}

.tutorial-text {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;  
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 26px;
}

.tutorial-text::-webkit-scrollbar {
    width: 10px;
}

.tutorial-text::-webkit-scrollbar-track {
    background: #a0230a56;
    border-radius: 8px;
}

.tutorial-text::-webkit-scrollbar-thumb {
    background: #A0220A;
    border-radius: 8px;
}

.tutorial-text::-webkit-scrollbar-button {
    display: none;
}

.tutorial-text p{
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 26px;
}

.caps {
    font-family: 'SairaStencilOne', Arial, Helvetica, sans-serif;
    color: #A0220A;
}

#skip-tutorial-btn {
    grid-column: 1;
    width: 70%;
    margin-left: 1rem;
    border: 8px solid #A0220A;
}

#skip-tutorial-btn h2{
    font-size: 50px;
    margin-left: 12px;
}

#tutorial-foward-btn {
    grid-column: 2;
    display: flex;
    justify-content: center;
    border: 8px solid #A0220A;
    margin-right: 12px;
}

.enter-tutorial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.enter-tutorial p{
    font-size: 45px;
}

#tutorial-back-btn {
    grid-column: 1;
    border: 8px solid #A0220A;
    margin-left: 12px;
}

.tutorial-arrows img{
    width: 3rem;
    padding-left: 12px;
}

.menu-btns {
    font-size: 60px;
    margin-top: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-btns:hover {
    width: 510px;
    height: 96px;
}

#endscreen-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #13131354;
}

#game-over-img {
    width: 350px;
}

.restart-arrow {
    width: 50px;
    padding-right: 20px;
}

#start-menu-arrow {
    width: 60px;
    padding-right: 20px;
}

#controls-div{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    background-image: url('assets/img/5_background/complete_background_mirrored.png');
    background-size: cover;
    background-position: -75px;
    display: grid;
    font-family: 'SairaStencilOne', Arial, Helvetica, sans-serif;
    font-size: 28px;
    z-index: 5;
}

.control-icons{
    height: 50px;
    padding-top: 20px;
}

#control-text-div {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #f9c769;
    border: 4px solid #A0220A;
    border-left: transparent;
    padding-right: 8px;
}

#control-text-div p{
    padding-top: 25px;
}

#control-icons-div, #control-text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 50px;
    text-align: center;
    height: 65%;
}

#control-icons-div {
    padding-right: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #f9c769;
    border: 4px solid #A0220A;
    border-right: transparent;
}

.mobile-control-text {
    display: none;
}

#close-btn{
    position: absolute;
    left: 20px;
    top: 20px;
    border: none;
    background-color: transparent;
}

#close-btn img:hover{
    width: 43px;
}

#close-btn img{
    width: 40px;
}

#controls-div-overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.menu-divs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: 'Zabars';
    font-size: 60px;
}


.tooltip-container {
    position: relative;
    display: grid;
    grid-template-rows: max-content;
    align-items: start;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
}

.tooltip-container p {
    padding-left: 40px;
    padding-right: 20px;
}

.tooltip-container:hover .tooltip-text {
    opacity: 1;
}

#mobile-controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 5px;
}

.controls-mobile-btn {
    border: none;
    background-color: transparent;
}

.controls-mobile-btn img {
    width: 50px;
}

.mobile-actions {
    padding-right: 10px;
}

.mobile-actions img{
    padding-right: 20px;
}

#left-arrow-mobile {
    background: url("assets/icons/right-arrow.png");
    transform: scaleX(-1);
    padding-right: 20px;
}

#right-arrow {
    padding-left: 20px;
}

#expand-btn {
    position: absolute;
    z-index: 12000;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
}

#expand-btn img {
    width: 40px;
}

#mobile-controls {
    display: none;
}

/*fullscreen - options*/

.game-div:fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.game-div:fullscreen #start-div {
    width: 100%;
    height: 100vh;
    background-position: 0;
}

.game-div:fullscreen #start-div {
    width: 100%;
    height: 100vh;
    background-position: 0;
}

.game-div:fullscreen #start-btn {
    width: fit-content;
    height: fit-content;
    margin-top: 4rem;
}

.game-div:fullscreen #start-btn h2 {
    font-size: 180px;
    padding: 1rem;
}

.game-div:fullscreen #start-btn h2 {
    font-size: 180px;
    padding: 1rem;
}

.game-div:fullscreen .controls-btn img{
    width: 60%;
}

.game-div:fullscreen .tooltip-container p {
    font-size: 120px;
}

.game-div:fullscreen .mute-btn img {
    width: 60%;
}

.game-div:fullscreen #controls-div {
    grid-template-columns: 30% 30%;
    font-size: 70px;
}

.game-div:fullscreen #control-icons-div {
    justify-content: space-evenly;
}

.game-div:fullscreen #control-text-div {
    justify-content: space-evenly;
}

.game-div:fullscreen .control-icons {
    height: 110px;
}

.game-div:fullscreen #tutorial-div {
    width: 85%;
    left: 7%;
}

.game-div:fullscreen #tutorial-headline {
    display: flex;
    justify-content: center;
    width: 100%;
}

.game-div:fullscreen #tutorial-headline h2{
    font-size: 160px;
}

.game-div:fullscreen .tutorial-text p{
    font-size: 70px;
}

.game-div:fullscreen #first-page-img img {
    width: 700px;
    margin-top: -480px;
}

.game-div:fullscreen #skip-tutorial-btn h2 {
    font-size: 100px;
    margin-left: 12px;
}

.game-div:fullscreen .enter-tutorial p {
    font-size: 100px;
}

.game-div:fullscreen .tutorial-arrows img {
    width: 8rem;
    padding-left: 3rem;
}

.game-div:fullscreen  #tutorial-second-page #pepe-walking {
    width: 700px;
    margin-top: -480px;
}

.game-div:fullscreen .tutorial-text {
    font-size: 70px;
}

.game-div:fullscreen #second-page-text {
    align-items: center;
}

.game-div:fullscreen .tutorial-icons {
    width: 12rem;
    padding: 2rem;
}

.game-div:fullscreen #arrow-sides-tutorial {
    width: 12rem;
    height: 6rem;
    padding: 2rem;
}

.game-div:fullscreen .tutorial-pepe {
    width: 100%;
    margin-top: -120px;
    margin-left: -15%;
}

.game-div:fullscreen .chicken {
    width: 90%;
    margin-left: -40%;
}

.game-div:fullscreen #status-bar-tutorial-img {
    width: 100%;
    margin-left: -5%;
}

.game-div:fullscreen #fifth-page-img .tutorial-pepe {
    width: 50%;
    margin-top: -200px;
    margin-left: 5%;
}

.game-div:fullscreen #fifth-page-img .chicken {
    width: 30%;
}

.game-div:fullscreen #fifth-page-img .enemies {
    justify-content: space-around;
    margin-right: 0;
    margin-left: 6%;
}

.game-div:fullscreen #sixth-page-img .enemies {
    width: 100%;
    grid-template-columns: 9rem 9rem;
    grid-template-rows: 12rem 12rem;
}

.game-div:fullscreen #sixth-page-img #dead-chicken {
    width: 100%;
    align-self: end;
    justify-self: end;
}

.game-div:fullscreen #sixth-page-img #splash-bottle {
    width: 100%;
    align-self: end;
    justify-self: end;
}

.game-div:fullscreen #sixth-page-img .bottles {
    width: 90%;
}

.game-div:fullscreen #sixth-page-text .game-div:fullscreen .tutorial-icons {
    width: 5rem;
    padding: 2rem;
}

.game-div:fullscreen #sixth-page-text #arrow-throw-tutorial {
    width: 6rem;
    height: 6rem;
}

.game-div:fullscreen #seventh-page-img .tutorial-pepe {
    width: 120%;
}

.game-div:fullscreen #seventh-page-img .bottles {
    width: 50%;
}

.game-div:fullscreen #eighth-page-img .coin {
    width: 18rem;
    height: 18rem;
}

.game-div:fullscreen #eighth-page-img .coins {
    align-items: start;
    justify-content: flex-end;
}

.game-div:fullscreen #eighth-page-img .tutorial-pepe {
    width: 70%;
    margin-top: -60%;
}

/*responsive options*/

@media (pointer: coarse) {
    #mobile-controls {
        display: flex;
    }
}

@media only screen and (max-width: 760px) {
    .game-div {
        width: 100%;
        height: auto;
        aspect-ratio: 720 / 480;
    }

    .menu-btns {
        width: 70%;
        height: 30%;
        font-size: 50px;
    }
    #endscreen-div .menu-btns {
        margin-top: 20px;
        height: 15%;
    }
    #pause-div p {
        font-size: 90px;
        margin-top: 10px;
    }

    .mute-btn {
        margin-top: 0;
    }
    
    .controls-btn {
        margin-top: 0;
        height: 100%;
        width: 100%;
    }

    .mute-btn img{
        height: 50px;
        width: 40px;
    }

    .controls-btn img {
        width: 50px;
    }

    button {
        border: 8px solid #A0220A;
    }

}

@media only screen and (max-width: 690px) {
    #start-btn {
        width: 50%;
        height: 20%;
    }

    #start-btn p {
        font-size: 55px;
    }

    #mobile-controls img{
        width: 40px;
    }

}

@media only screen and (max-width: 650px) {
    #controls-div{
        font-size: 24px;
        padding-bottom: 5px;
    }
}


@media only screen and (max-width: 645px) {
    .menu-btns {
        font-size: 40px;
        margin-top: 20px;
    }   

    .pause-btns {
        margin-top: 0;
    }

    .restart-arrow {
        width: 40px;
    }

    #start-menu-arrow {
        width: 50px;
    }

    body {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    #settings-btn img {
        width: 40px;
        padding-top: 15px;
    }

    #expand-btn img {
        width: 35px;
        padding-top: 15px;
    }

    #return-to-start-btn img {
        width: 70px;
    }
}

@media only screen and (max-width: 620px) {
    #game-over-img {
        width: 300px;    
    }
}

@media only screen and (max-width: 590px) {
    #start-btn p {
        font-size: 50px;
    }
    #close-btn img{
        width: 30px;
    }
}

@media only screen and (max-width: 550px) {  
    .restart-arrow {
        width: 30px;
    }

    #start-menu-arrow {
        width: 40px;
    }

    #pause-div p {
        font-size: 80px;
    } 

    #return-to-start-btn img {
        width: 60px;
        padding-top: 10px;
    }

    #mobile-controls img{
        width: 30px;
    }
}

@media only screen and (max-width: 545px) {
    #start-btn {
        width: 60%;
    }

    #game-over-img {
        width: 250px;    
    }

    #endscreen-div .menu-btns {
        font-size: 30px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 500px) {  
    .menu-btns {
        font-size: 30px;
        margin-top: 10px;
    }  

    #start-btn {
        margin-top: 10px;
    }

    #start-btn p {
        font-size: 45px;
    }

    #endscreen-div .menu-btns {
        height: 20%;
        margin-top: 10px;
    }

    #settings-btn img {
        width: 30px;
        padding-top: 5px;
    }

    #expand-btn img {
        width: 25px;
        padding-top: 5px;
    }

    #return-to-start-btn img {
        width: 50px;
        padding-top: 5px;
    }

    .controls-btn img{
        width: 40px;
    }

    .mute-btn img{
        height: 40px;
        width: 30px;
    }

    .tooltip-container p{
        font-size: 50px;
    }
}

@media only screen and (max-width: 475px) {  
    #pause-div p {
        font-size: 80px;
        margin-top: 5px;
    }

    .controls-btn img {
        width: 40px;
    }

    .mute-btn img{
        height: 40px;
        width: 30px;
    }

    #controls-div{
        font-size: 22px;
    }

    #control-icons-div img {
        height: 35px;
    }

    #controls-div-overlay{
        top: 5px;
    }

    #game-over-img {
        width: 200px;    
    }

    .controls-btn img{
        width: 30px;
    }

    .mute-btn img{
        height: 30px;
        width: 20px;
    }

    .tooltip-container p{
        font-size: 40px;
        padding-left: 30px;
    }
    
    #mobile-controls img{
        width: 30px;
    }

}

@media only screen and (max-width: 440px) {  

    #start-btn {
        width: 65%;
    }

    #start-btn p {
        font-size: 40px;
    }

    .mute-btn {
        margin-right: 10px;
    }

    .controls-btn {
        margin-left: 5px;
    }

    #controls-div-overlay{
        top: 2px;
    }

}

@media only screen and (max-width: 420px) { 
    #pause-div p {
        font-size: 70px;
    }
    
    .menu-btns {
        font-size: 25px;
    }  

    #settings-btn img {
        width: 25px;
        padding-top: 5px;
    }

    #expand-btn img {
        width: 20px;
        padding-top: 5px;
    }

    .restart-arrow {
        width: 30px;
    }

    #start-menu-arrow {
        width: 30px;
    }

    button {
        border: 6px solid #A0220A;
    }

    #controls-div{
        font-size: 20px;
    }

    #controls-div-overlay{
        top: 10px;
    }

    #control-icons-div img {
        height: 30px;
    }

    #return-to-start-btn img {
        width: 40px;
        padding-top: 5px;
    }

    #mobile-controls img{
        width: 20px;
    }
}

@media only screen and (max-width: 400px){
    #controls-div-overlay{
        left: 3%;
    }
    #endscreen-div .menu-btns {
        font-size: 25px;
        height: 15%;
    }
    #endscreen-div .restart-arrow {
        width: 20px;
    }
    .controls-btn img{
        width: 30px;
    }

    .mute-btn img{
        height: 30px;
        width: 20px;
    }

    .tooltip-container{
        padding-top: 40px;
    }

    .tooltip-container p{
        font-size: 40px;
        padding-left: 20px;
    }

    .tooltip-container .menu-divs{
        padding-top: 10px;
    }
}

@media only screen and (max-width: 385px) { 
    #pause-div p {
        font-size: 60px;
    }
    
    .menu-btns {
        font-size: 20px;
        margin-top: 5px;
    }  

    #settings-btn {
        left: 10px;
    }

    #expand-btn {
        right: 10px;
    }

    .restart-arrow {
        width: 20px;
    }

    #start-menu-arrow {
        width: 20px;
    }

    #start-btn p {
        font-size: 35px;
    }

    #start-btn {
        height: 25%;
        margin-top: 5px;
    }

    .mute-btn {
        margin-right: 0px;
    }

    .controls-btn {
        margin-left: 0px;
    }
    #endscreen-div .menu-btns {
        font-size: 20px;
        height: 15%;
        margin-top: 5px;
    }
    #endscreen-div .restart-arrow {
        width: 15px;
    }
    #return-to-start-btn img {
        width: 30px;
        padding-top: 0;
    }

    #mobile-controls img{
        width: 15px;
    }
}

@media only screen and (max-width: 340px) { 
    #start-btn p {
        font-size: 30px;
    }

    #controls-div{
        font-size: 18px;
    }

    #control-icons-div img {
        height: 25px;
    }

    #controls-div-overlay{
        left: 2%;
    }

    #game-over-img {
        width: 150px;
    }

    #settings-btn {
        top: 10px;
    }

    #expand-btn {
        top: 10px;
    }

    .tooltip-container {
        padding-top: 25px;
    }
}


/*fullscreen - responsive options*/

 
@media only screen and (max-width: 1830px) {
    .game-div:fullscreen #controls-div {
        font-size: 60px;
    }
    .game-div:fullscreen .control-icons {
        height: 100px;
    }
}

@media only screen and (max-width: 1775px) {
    .game-div:fullscreen #start-btn h2 {
        font-size: 140px;
    }

    .game-div:fullscreen #first-page-img img {
        width: 600px;
        margin-top: -300px;
    }

    .game-div:fullscreen .tutorial-text p {
        font-size: 60px;
    }
}

@media only screen and (max-width: 1500px) {

    .game-div:fullscreen #tutorial-div {
        height: 70%;
    }

    .game-div:fullscreen .tutorial-pages {
        height: 100%;
    }

    .game-div:fullscreen #first-page-img img {
        width: 500px;
        margin-top: -180px;
    }

    .game-div:fullscreen .tutorial-text p {
        font-size: 50px;
    }

    .game-div:fullscreen .enter-tutorial p {
        font-size: 80px;
    }

    .game-div:fullscreen #skip-tutorial-btn h2 {
        font-size: 80px;
    }
}

@media only screen and (max-width: 1450px) {
    .game-div:fullscreen #start-btn h2 {
        font-size: 120px;
    }

    .game-div:fullscreen .tooltip-container {
        padding-top: 10%;
    }

    .game-div:fullscreen .controls-btn img{
        width: 50%;
    }

    .game-div:fullscreen .mute-btn img {
        width: 50%;
    }

    .game-div:fullscreen #controls-div {
        font-size: 50px;
    }
    .game-div:fullscreen .control-icons {
        height: 80px;
    }
}

@media only screen and (max-width: 1330px) {
    .game-div:fullscreen #controls-div {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1300px) {

    .game-div:fullscreen #tutorial-div {
        height: 65%;
    }

    .game-div:fullscreen #first-page-img img {
        width: 400px;
        margin-top: 0px;
    }

    .game-div:fullscreen .enter-tutorial p {
        font-size: 70px;
    }

    .game-div:fullscreen #skip-tutorial-btn h2 {
        font-size: 70px;
    }

    .game-div:fullscreen .tutorial-arrows img {
        width: 7rem;
    }
}

@media only screen and (max-width: 1275px) {
    .game-div:fullscreen #start-btn h2 {
        font-size: 100px;
    }
    .game-div:fullscreen .controls-btn img{
        width: 40%;
    }

    .game-div:fullscreen .tooltip-container p {
        font-size: 100px;
    }

    .game-div:fullscreen .mute-btn img {
        width: 40%;
    }

    .game-div:fullscreen .control-icons {
        height: 60px;
    }
}

@media only screen and (max-width: 1200px) {

    .game-div:fullscreen #tutorial-div {
        height: 60%;
    }

    .game-div:fullscreen #first-page-img img {
        margin-top: -50px;
    }

    .game-div:fullscreen .tutorial-text p {
        font-size: 45px;
    }
    
    .game-div:fullscreen .enter-tutorial p {
        font-size: 60px;
    }

    .game-div:fullscreen #skip-tutorial-btn h2 {
        font-size: 60px;
    }

    .game-div:fullscreen .tutorial-arrows img {
        width: 6rem;
    }
}

@media only screen and (max-width: 1100px) {

    .game-div:fullscreen #tutorial-headline h2 {
        font-size: 120px;
    }

     .game-div:fullscreen #tutorial-div {
        height: 55%;
    }

    .game-div:fullscreen #first-page-img img {
        width: 350px;

    }

    .game-div:fullscreen .tutorial-text p {
        font-size: 45px;
    }
    
    .game-div:fullscreen .enter-tutorial p {
        font-size: 50px;
    }

    .game-div:fullscreen #skip-tutorial-btn h2 {
        font-size: 50px;
    }

    .game-div:fullscreen .tutorial-arrows img {
        width: 5rem;
    }
}

@media only screen and (max-width: 1075px) {
    .game-div:fullscreen #start-btn h2 {
        font-size: 80px;
    }

    .game-div:fullscreen .tooltip-container {
        padding-top: 15%;
    }

    .game-div:fullscreen .tooltip-container p {
        font-size: 80px;
        margin-right: 15%;
    }

}

@media only screen and (max-width: 980px) {
    .game-div:fullscreen #controls-div{
        grid-template-columns: 60%;
    }

    .game-div:fullscreen #control-icons-div {
        padding-right: 0px;
        border-radius: 12px;
        border: 4px solid #A0220A;
        border-right: 4px solid #A0220A;
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 80%;
    }

    .game-div:fullscreen #control-icons-div::-webkit-scrollbar {
        width: 10px;
    }

    .game-div:fullscreen #control-icons-div::-webkit-scrollbar-track {
        background: transparent;
    }

    .game-div:fullscreen #control-icons-div::-webkit-scrollbar-thumb {
        background: #A0220A;
        border-radius: 8px;
    }

    .game-div:fullscreen .control-icons {
        padding-bottom: 2rem;
    }

    .game-div:fullscreen #control-text-div {
        display: none;
    }

    .game-div:fullscreen .mobile-control-text {
        display: block;
        padding-bottom: 2rem;
        margin-top: -2rem;
    }
}

@media only screen and (max-width: 920px) {
    .game-div:fullscreen #start-btn h2 {
        font-size: 60px;
    }

    .game-div:fullscreen .tooltip-container p {
        font-size: 60px;
    }

    .game-div:fullscreen .tooltip-container {
        padding-top: 20%;
    }

    .game-div:fullscreen #tutorial-headline {
        top: -15%;
    }

    .game-div:fullscreen #tutorial-headline h2 {
        font-size: 100px;
    }

    .game-div:fullscreen #first-page-img img {
        width: 300px;
        margin-top: 0px;
    }

    .game-div:fullscreen .tutorial-text {
        height: 100%;
    }

    .game-div:fullscreen .tutorial-text p {
        font-size: 40px;
    }

    .game-div:fullscreen .tutorial-arrows img {
        width: 4rem;
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 790px) {
    .game-div:fullscreen .tooltip-container p {
        font-size: 50px;
    }

    .game-div:fullscreen .tooltip-container {
        padding-top: 20%;
    }
}

@media only screen and (max-width: 760px) {
    .game-div:fullscreen #start-btn h2 {
        font-size: 50px;
    }

    .game-div:fullscreen .controls-btn img{
        width: 30%;
    }

    .game-div:fullscreen .mute-btn img{
        width: 30%;
        height: 30%;
    }

    .game-div:fullscreen #tutorial-headline h2 {
        font-size: 80px;
    }

    .game-div:fullscreen #tutorial-div {
        height: 50%;
    }

    .game-div:fullscreen .tutorial-text {
        height: 95%;
    }

    .game-div:fullscreen .tutorial-text p {
        font-size: 30px;
    }

}

@media only screen and (max-width: 740px) {
    .game-div:fullscreen #start-btn h2 {
        font-size: 50px;
    }

    .game-div:fullscreen .tooltip-container {
        padding-top: 35%;
    }

}

@media only screen and (max-width: 635px) {
    .game-div:fullscreen .menu-divs {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
    }

    .game-div:fullscreen #control-icons-div {
        margin-top: 30%;
    }

    .game-div:fullscreen .tooltip-container p {
        margin-right: 0;
        text-align: center;
    }

    .game-div:fullscreen .tooltip-container {
        padding-top: 25%;
    }

    .game-div:fullscreen .control-icons {
        height: 6%;
    }

    .game-div:fullscreen #controls-div {
        font-size: 30px;
    }

    .game-div:fullscreen .mobile-control-text {
        padding-bottom: 1rem;
    }

    .game-div:fullscreen #tutorial-headline h2 {
        font-size: 70px;
    }

    .game-div:fullscreen #tutorial-div {
        height: 50%;
    }

    .game-div:fullscreen #first-page-img img {
        width: 200px;
        margin-top: 60px;
    }

    .game-div:fullscreen .tutorial-text {
        height: 95%;
    }

    .game-div:fullscreen .tutorial-text p {
        font-size: 30px;
    }

    .game-div:fullscreen .enter-tutorial p {
        font-size: 40px;
    }

    .game-div:fullscreen #skip-tutorial-btn h2 {
        font-size: 40px;
    }

    .game-div:fullscreen .tutorial-arrows img {
        width: 3rem;
    }
}     

@media only screen and (max-width: 510px) {

    .game-div:fullscreen #tutorial-headline {
        top: -12%;
    }

    .game-div:fullscreen #tutorial-div {
        height: 40%;
    }

    .game-div:fullscreen #first-page-img img {
        width: 150px;
        margin-top: 120px;
    }

    .game-div:fullscreen .tutorial-text {
        height: 100%;
    }

    .game-div:fullscreen .tutorial-text p {
        font-size: 25px;
    }

    .game-div:fullscreen .enter-tutorial p {
        font-size: 30px;
    }

    .game-div:fullscreen #skip-tutorial-btn h2 {
        font-size: 30px;
    }

    .game-div:fullscreen .tutorial-arrows img {
        width: 2rem;
    }
}   

@media only screen and (max-width: 435px) {
    .game-div:fullscreen .tooltip-container {
        padding-top: 35%;
    }

    .game-div:fullscreen #tutorial-headline {
        top: -15%;
    }

    .game-div:fullscreen #tutorial-headline h2 {
        font-size: 60px;
    }

    .game-div:fullscreen .tutorial-pages {
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
    }

    .game-div:fullscreen #first-page-img {
        display: flex;
        justify-content: center;
    }

    .game-div:fullscreen #first-page-img img {
        margin-top: -110px;
    }

    .game-div:fullscreen .enter-tutorial p {
        font-size: 25px;
    }

    .game-div:fullscreen #skip-tutorial-btn h2 {
        font-size: 25px;
        margin-left: 4px;
    }

} 

@media only screen and (max-width: 376px) {
    .game-div:fullscreen .tooltip-container {
        padding-top: 55%;
    }

    .game-div:fullscreen #controls-div {
        font-size: 20px;
    }

    .game-div:fullscreen #tutorial-headline h2 {
        font-size: 50px;
    }

    .game-div:fullscreen #skip-tutorial-btn {
        margin-left: 0;
        width: 75%;
    }

    .game-div:fullscreen #tutorial-foward-btn {
        margin-right: 0;
    }
} 

@media only screen and (max-height: 1245px) {
    .game-div:fullscreen #start-btn h2 {
        font-size: 120px;
    }

    .game-div:fullscreen #first-page-img img {
        margin-top: -160px;
    }

    .game-div:fullscreen .tutorial-text {
        height: 95%;
    }
}

@media only screen and (max-height: 1128px) {

    .game-div:fullscreen #tutorial-headline h2 {
        font-size: 140px;
    }
}

@media only screen and (max-height: 1028px) {

    .game-div:fullscreen #first-page-img img {
        margin-top: -240px;
    } 
}

@media only screen and (max-height: 1002px) {

    .game-div:fullscreen #tutorial-headline h2 {
        font-size: 120px;
    }
}


@media only screen and (max-height: 960px) {
    .game-div:fullscreen .tooltip-container {
        padding-top: 4rem;
    }

}

@media only screen and (max-height: 909px) {
    .game-div:fullscreen #tutorial-headline h2 {
        font-size: 100px;
    }

    .game-div:fullscreen #first-page-img img {
        margin-top: -300px;
    }

    .game-div:fullscreen .tutorial-text {
        height: 90%;
    }
}

@media only screen and (max-height: 890px) {
    .game-div:fullscreen #start-btn h2 {
        font-size: 100px;
    }

    .game-div:fullscreen #control-text-div p{
        padding-top: 20px;
    }
}

@media only screen and (max-height: 805px) {

    .game-div:fullscreen #tutorial-headline h2 {
        font-size: 80px;
    }

    .game-div:fullscreen #first-page-img img {
        width: 300px;
        margin-top: -200px;
    }
}

@media only screen and (max-height: 755px) {
    .game-div:fullscreen #start-btn h2 {
        font-size: 80px;
    }

    .game-div:fullscreen .tooltip-container {
        padding-top: 15%;
    }

    .game-div:fullscreen #control-text-div p{
        font-size: 40px;
    }

    .game-div:fullscreen .control-icons {
        height: 60px;
    }

    .game-div:fullscreen .controls-btn img {
        width: 20%;
    }

    .game-div:fullscreen .mute-btn img {
        width: 20%;
        height: 20%;
    }

}

@media only screen and (max-height: 730px) {
    .game-div:fullscreen .tooltip-container {
        padding-top: 2rem;
    }

}


@media only screen and (max-height: 640px) {
    .game-div:fullscreen #start-btn h2 {
        font-size: 60px;
    }

}

@media only screen and (max-height: 640px) {

    .game-div:fullscreen #control-text-div p{
        font-size: 30px;
    }

    .game-div:fullscreen .control-icons {
        height: 40px;
    }
}

@media only screen and (max-height: 5px) {
    .game-div:fullscreen .tooltip-container {
        padding-top: 10%;
    }
}
