@font-face {
    font-family: 'Zabars';
    src: url('fonts/Zabars.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaStencilOne';
    src: url('fonts/SairaStencilOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --headline-color: linear-gradient(-180deg, #FF9900, #FFDE00, #FF9900);
    --border: 3px solid #701d0c;
    --border-fullscreen: 6px solid #701d0c;
    --btn-background: url('assets/icons/start-btn-bkgrd.png');
    --div-background: linear-gradient(#F9C86A, #D4792F);
}

body {
    background-image: url(./assets/img/5_background/body-background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

button {
    background: var(--btn-background);
    background-position: center;
    border: var(--border);
    border-radius: 22px;
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    cursor: url('assets/icons/comic-cursor-48.png'), auto;
    caret-color: transparent;
}

button:hover {
    transform: scale(1.15);
    filter: brightness(1.5);
}

img {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

.btn-transparent {
    background: transparent;
    border: none;
}

.game-div {
    position: relative;
    width: fit-content;
    cursor: url('assets/icons/comic-cursor-48.png'), auto;
}

.overlay-divs {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

p, h1, h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    caret-color: transparent;
}


h1 {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 120px;
    letter-spacing: 12px;
    margin-bottom: 40px;
}

h2 {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 70px;
    letter-spacing: 1cqw;
    background: var(--headline-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #801e0a;
}

h3 {
    font-family: 'SairaStencilOne', Arial, Helvetica, sans-serif;
    font-size: 10cqh;
    font-weight: 400;
}

canvas {
    background-color: black;
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
}

#start-div {
    background-image: url(./assets/img/9_intro_outro_screens/start/startscreen_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -75px;
    justify-content: space-evenly;
    align-items: start;
    z-index: 2;
    width: 100%;
    container-type: size;
}

#start-btn {
    background: var(--btn-background);
    background-position: center;
    width: 60cqw;
    height: 20cqh;
    margin-top: 20px;
    transition: transform 125ms ease;
    display: flex;
    justify-content: center;
    box-shadow: rgba(48, 15, 4, 0.5) 0 5px 12px;
    z-index: 2;
    container-type: size;
}

#start-btn h2{
    font-size: min(100cqw, 100cqh);
    margin-left: 6px;
    text-align: center;
}

#options-btns {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.main-settings-btns {
    margin: 10px;
    z-index: 3;
}

.main-settings-btns img{
    height: 100%;
}

#settings-div {
    background-image: url('assets/img/5_background/complete_background_mirrored.png');
    background-size: cover;
    background-position: -75px;
    z-index: 2;
    justify-content: center;
    container-type: size;
}

#return-to-start-btn {
    position: absolute;
    display: flex;
    align-items: start;
    background-color: transparent;
    border: none;
    top: 2cqh;
    left: 2cqw;
    z-index: 5;
    width: 15cqw;
}

#return-to-start-btn img{
    width: 100%;
}

#settings-menu {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    justify-content: center;
    padding-top: 15cqh;
    width: 70cqw;
    height: fit-content;
}

#settings-menu p {
    padding-left: 40px;
    padding-right: 20px;
}

#settings-menu:hover .tooltip-text {
    opacity: 1;
}

.settings-menu-divs {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    padding-top: 5cqh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: fit-content;
    font-family: 'Zabars';
    font-size: 11cqh;
}

.settings-btn {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 11cqw;
}

#controls-btn img, #mute-btn img {
    width: 100%;
    transition: transform 125ms ease; 
}

#controls-div-overlay{
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-image: url('assets/img/5_background/complete_background_mirrored.png');
    background-size: cover;
    background-position: -75px;
    container-type: size;
}

#controls-div{
    width: 60%;
    height: 60%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    padding: 1rem;
    font-family: 'SairaStencilOne', Arial, Helvetica, sans-serif;
    border-radius: 12px;
    background: var(--div-background);
    border: 3px solid #701d0c;
    overflow: hidden;
}

.controls-div-column {
    min-height: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#control-icons-div {
    min-height: 0;
    overflow: hidden;
}

.control-icons{
    max-width: 100%;
    max-height: 20%;
    width: auto;
    height: auto;

    object-fit: contain;
}

#control-text-div {
    container-type: size;
}

.control-text {
    font-size: min(15cqw, 15cqh);
    white-space: nowrap;
}

.mobile-control-text {
    display: none;
    font-size: min(5cqw, 5cqh);
    white-space: nowrap;
}

#pause-div {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #131313a4;
    z-index: 2;
    width: 100%;
    container-type: size;
}

#pause-div h2 {
    font-size: 20cqh;
}

#pause-div-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#pause-div-header #mute-btn{
    margin-top: 10px;
}

.pause-btns {
    height: 60%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pause-menu-settings-btn {
    left: 20px;
}

#tutorial-div {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 15%;
    left: 3%;
    width: 90%;
    height: 75%;
    background: var(--div-background);
    border-width: 12px;
    border: var(--border);
    border-radius: 22px;
    z-index: 2;
    container-type: size;
}

#tutorial-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90cqh;
}

.tutorial-pages {
    width: 95%;
    display: grid;
    grid-template-columns: 35cqw 60cqw;
}

.tutorial-imgs {
    height: 85cqh;
    width: auto;
    display: flex;
    align-items: end;
    justify-content: start;
}

.tutorial-imgs img {
    max-height: 100%;
    max-width: 100%;
}

.tutorial-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: auto;
    height: 85cqh;
    margin-top: 10px;
    padding-right: 10px;
    margin-bottom: 5cqh;
    overflow-y: scroll;
    scroll-behavior: smooth;  
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
}

.tutorial-texts p {
    font-size: 10cqh;
}

.tutorial-texts span {
    font-size: 10cqh;
}

.caps {
    font-family: 'SairaStencilOne', Arial, Helvetica, sans-serif;
    color: #A0220A;
    font-size: 10cqh;
}

#tutorial-btns {
    width: 100%;
    position: absolute;
    bottom: -7cqh;
    display: grid;
    grid-template-columns: auto auto auto;
    
}

#skip-tutorial-btn {
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skip-tutorial-btn h2{
    font-size: 12cqh;
    margin-left: 2cqw;
    letter-spacing: 1cqw;
}

#tutorial-foward-btn {
    display: flex;
    align-items: center;
    margin-right: 2cqw;
}

#foward-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2cqw;
}

#foward-btn img{
    padding-right: 2cqw;
}

#foward-btn p{
    font-size: 10cqh;
}

#tutorial-back-btn {
    grid-column: 1;
    margin-left: 2cqw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorial-arrows {
    width: 7cqw;
    align-self: center;
    object-fit: contain;
}

#tutorial-headline {
    position: absolute;
    top: -20cqh;
}

#tutorial-headline h2 {
    font-size: 20cqh;
}

#pepe-top-img {
    width: 105%;
}

#pepe-top-img img {
    width: 100%;
}

#arrow-up-tutorial {
    width: 7cqw;
}

.tutorial-icons {
    padding-left: 2cqw;
    padding-right: 2cqw;
    width: 15cqw;
}

.fs-large-tutorial {
    font-size: 13cqh;
}

.tutorial-texts::-webkit-scrollbar {
    width: 10px;
}

.tutorial-texts::-webkit-scrollbar-track {
    background: #a0230a56;
    border-radius: 8px;
}

.tutorial-texts::-webkit-scrollbar-thumb {
    background: #A0220A;
    border-radius: 8px;
}

.tutorial-texts::-webkit-scrollbar-button {
    display: none;
}

#tutorial-second-page, #tutorial-third-page {
    align-items: center;
}

#second-page-text, #third-page-text , #eighth-page-text {
    justify-content: center;
    overflow-y: hidden;
}

#first-part-second-page {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#first-part-third-page {
    text-align: center;
}

#fourth-page-img {
    align-items: center;
    height: 100cqh;
    padding-right: 3cqw;
}

#fifth-page-text, #seventh-page-text, #eighth-page-text {
    text-align: center;
}

#sixth-page-text{
    align-items: start;
}

#d-gif-tutorial {
    width: 8cqw;
}

#arrow-throw-tutorial {
    width: 8cqw;
}

#sixth-page-img, #seventh-page-img, #ninth-page-img {
    padding-right: 2cqw;
}

#ninth-page-img {
    height: 88cqh;
}

.menu-btns {
    margin-top: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pause-btn-icons {
    width: 7cqw;
    padding-right: 2cqw;
}

#endscreen-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #13131354;
    container-type: size;
    z-index: 4000;
}

#endscreen-div p{
    font-size: 10cqh;
}

#game-over-img {
    width: 350px;
}

#close-btn{
    position: absolute;
    left: 20px;
    top: 20px;
    border: none;
    background-color: transparent;
}

#close-btn img:hover{
    width: 43px;
}

#close-btn img{
    width: 40px;
}

#mobile-controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 5px;
}

.controls-mobile-btn {
    border: none;
    background-color: transparent;
}

.controls-mobile-btn img {
    width: 50px;
}

.mobile-actions {
    padding-right: 10px;
}

.mobile-actions img{
    padding-right: 20px;
}

#left-arrow-mobile {
    background: url("assets/icons/right-arrow.png");
    transform: scaleX(-1);
    padding-right: 20px;
}

#right-arrow {
    padding-left: 20px;
}

#mobile-controls {
    display: none;
}

/*fullscreen - options*/

.game-div:fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.game-div:fullscreen #tutorial-btns button{
    border: var(--border-fullscreen);
    background-size: cover;
}

.game-div:fullscreen .menu-btns {
    border: var(--border-fullscreen);
    background-size: cover;
}

.game-div:fullscreen #start-div {
    background-position: 0;
}

.game-div:fullscreen #start-btn {
    background-size: cover;
    border: var(--border-fullscreen);
}

.game-div:fullscreen #tutorial-div {
    border: var(--border-fullscreen);
}

.game-div:fullscreen #ninth-page-img img{
    width: 100%;
}