@font-face {
    font-family: 'Zabars';
    src: url('fonts/Zabars.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaStencilOne';
    src: url('fonts/SairaStencilOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(./assets/img/5_background/body-background.png);
    background-size: fill;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#game-div {
    position: relative;
    width: 720px;
    height: 480px;
}

.overlay-divs {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

p, h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

div:hover, canvas:hover {
    cursor: url('assets/icons/comic-cursor-64.png'), auto;
}

button {
    cursor: url('assets/icons/comic-cursor-64.png'), auto;
    background-color: #F9C769;
    border-width: 12px;
    border: 12px solid #A0220A;
    border-radius: 22px;
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: #f5c681;
    border: 12px solid #bb371c;
}

h1 {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 120px;
    letter-spacing: 12px;
    margin-top: 40px;
    margin-bottom: 40px;
}

canvas {
    background-color: black;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
}

#start-div {
    background-image: url(./assets/img/9_intro_outro_screens/start/startscreen_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -75px;
    justify-content: space-between;
    align-items: start;
    z-index: 2;
}

.controls-btn {
    width: 100px;
    height: 90px;
    margin-top: 20px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
}

.controls-btn img{
    width: 60px;
    transition: transform 125ms ease;
}

.controls-btn img:hover{
    transform: scale(1.15);
    filter: brightness(1.5);
}

.mute-btn {
    margin-top: 30px;
    margin-right: 20px;
    border: none;
    background-color: transparent;
}

.mute-btn img{
    height: 60px;
    width: 50px;
    transition: transform 125ms ease;
}

.mute-btn img:hover{
    transform: scale(1.15);
    filter: brightness(1.5);
}

#start-btn {
    width: 340px;
    height: 100px;
    margin-top: 20px;
    transition: transform 125ms ease;
}

#start-btn:hover {
    transform: scale(1.05);
}

#start-btn p {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 70px;
    letter-spacing: 6px;
    background: linear-gradient(to bottom, #FF9900, #ffde00, #FF9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #9A3A17;
}

#pause-div {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #131313a4;
}

#pause-div p {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
    background: linear-gradient(to bottom, #FF9900, #ffde00, #FF9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #9A3A17;
}

#pause-div-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#pause-div-header #mute-btn{
    margin-top: 10px;
}

.pause-btns {
    height: 60%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-btns {
    font-size: 60px;
    margin-top: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-btns:hover {
    width: 510px;
    height: 96px;
}

#endscreen-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #13131354;
}

#game-over-img {
    width: 350px;
}

.restart-arrow {
    width: 50px;
    padding-right: 20px;
}

#start-menu-arrow {
    width: 60px;
    padding-right: 20px;
}

#controls-div{
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    width: 60%;
    height: 80%;
    background-color: #f5c681;
    border: 12px solid #bb371c;
    border-radius: 20px;
    display: grid;
    padding: 20px;
    font-family: 'SairaStencilOne', Arial, Helvetica, sans-serif;
    font-size: 28px;
    z-index: 5;
}

.control-icons{
    height: 50px;
}

#control-icons-div, #control-text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#close-btn{
    position: absolute;
    right: 0px;
    top: 5px;
    border: none;
    background-color: transparent;
}

#close-btn img:hover{
    width: 43px;
    filter: brightness(1.5);
}

#close-btn img{
    width: 40px;
}

#controls-div-overlay{
    position: absolute;
    top: 10px;
    left: 15%;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    position: absolute;

    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);

    background-color: black;
    color: white;

    padding: 6px 10px;
    border-radius: 6px;

    font-size: 14px;

    opacity: 0;
    transition: opacity 0.2s;

    pointer-events: none;
    white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
    opacity: 1;
}

@media only screen and (max-width: 760px) {
    #game-div {
        width: 100%;
        height: auto;
        aspect-ratio: 720 / 480;
    }
    .overlay-divs,
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
    #controls-div{
        width: 50% !important;
        height: 80% !important;
    }
    .menu-btns {
        width: 70%;
        height: 30%;
        font-size: 50px;
    }
    #endscreen-div .menu-btns {
        margin-top: 20px;
        height: 15%;
    }
    #pause-div p {
        font-size: 90px;
        margin-top: 10px;
    }

    .mute-btn {
        margin-top: 0;
    }
    
    .controls-btn {
        margin-top: 0;
        height: 100%;
        width: 100%;
    }

    .mute-btn img{
        height: 50px;
        width: 40px;
    }

    .controls-btn img {
        width: 50px;
    }

    button {
        border: 8px solid #A0220A;
    }

    #controls-div{
        width: 60% !important;
    }
}

@media only screen and (max-width: 690px) {
    #start-btn {
        width: 50%;
        height: 20%;
    }

    #start-btn p {
        font-size: 55px;
    }

}

@media only screen and (max-width: 650px) {
    #controls-div{
        font-size: 24px;
        width: 70% !important;
        padding-bottom: 5px;
    }

    #control-icons-div img {
        height: 40px;
    }

    #controls-div-overlay{
        left: 10%;
    }

}


@media only screen and (max-width: 645px) {
    .menu-btns {
        font-size: 40px;
        margin-top: 20px;
    }   

    .pause-btns {
        margin-top: 0;
    }

    .restart-arrow {
        width: 40px;
    }

    #start-menu-arrow {
        width: 50px;
    }

    body {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-width: 620px) {
    #game-over-img {
        width: 300px;    
    }
}

@media only screen and (max-width: 590px) {
    #start-btn p {
        font-size: 50px;
    }
    #controls-div {
        padding: 10px;
    }
    #close-btn img{
        width: 30px;
    }
}

@media only screen and (max-width: 550px) {  
    .restart-arrow {
        width: 30px;
    }

    #start-menu-arrow {
        width: 40px;
    }

    #pause-div p {
        font-size: 80px;
    } 
}

@media only screen and (max-width: 545px) {
    #start-btn {
        width: 60%;
    }

    #game-over-img {
        width: 250px;    
    }

    #endscreen-div .menu-btns {
        font-size: 30px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 500px) {  
    .menu-btns {
        font-size: 30px;
        margin-top: 10px;
    }  

    #start-btn {
        margin-top: 10px;
    }

    #start-btn p {
        font-size: 45px;
    }

    #endscreen-div .menu-btns {
        height: 20%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 475px) {  
    #pause-div p {
        font-size: 80px;
        margin-top: 5px;
    }

    .controls-btn img {
        width: 40px;
    }

    .mute-btn img{
        height: 40px;
        width: 30px;
    }

    #controls-div{
        font-size: 22px;
        width: 80% !important;
    }

    #control-icons-div img {
        height: 35px;
    }

    #controls-div-overlay{
        left: 5%;
        top: 5px;
    }

    #game-over-img {
        width: 200px;    
    }

    

}

@media only screen and (max-width: 440px) {  

    #start-btn {
        width: 65%;
    }

    #start-btn p {
        font-size: 40px;
    }

    .mute-btn {
        margin-right: 10px;
    }

    .controls-btn {
        margin-left: 5px;
    }

    #controls-div-overlay{
        top: 2px;
    }

}

@media only screen and (max-width: 420px) { 
    #pause-div p {
        font-size: 70px;
    }
    
    .menu-btns {
        font-size: 25px;
    }  

    .restart-arrow {
        width: 30px;
    }

    #start-menu-arrow {
        width: 30px;
    }

    button {
        border: 6px solid #A0220A;
    }

    #controls-div{
        font-size: 20px;
        height: 70% !important;
    }

    #controls-div-overlay{
        top: 10px;
    }

    #control-icons-div img {
        height: 30px;
    }
}

@media only screen and (max-width: 400px){
    #controls-div-overlay{
        left: 3%;
    }
    #endscreen-div .menu-btns {
        font-size: 25px;
        height: 15%;
    }
    #endscreen-div .restart-arrow {
        width: 20px;
    }
}

@media only screen and (max-width: 385px) { 
    #pause-div p {
        font-size: 60px;
    }
    
    .menu-btns {
        font-size: 20px;
        margin-top: 5px;
    }  

    .restart-arrow {
        width: 20px;
    }

    #start-menu-arrow {
        width: 20px;
    }

    #start-btn p {
        font-size: 35px;
    }

    #start-btn {
        height: 25%;
        margin-top: 5px;
    }

    .mute-btn {
        margin-right: 0px;
    }

    .controls-btn {
        margin-left: 0px;
    }
    #endscreen-div .menu-btns {
        font-size: 20px;
        height: 15%;
        margin-top: 5px;
    }
    #endscreen-div .restart-arrow {
        width: 15px;
    }
}

@media only screen and (max-width: 340px) { 
    #start-btn p {
        font-size: 30px;
    }

    #controls-div{
        font-size: 18px;
    }

    #control-icons-div img {
        height: 25px;
    }

    #controls-div-overlay{
        left: 2%;
    }

    #game-over-img {
        width: 150px;
    }
}
